<!DOCTYPE html>
<html ng-app="simpleForms">
<body>
	<script type="text/javascript" src="angular.js"> </script>
	<script type="text/javascript" src="app.js"> </script>
	<script type="text/javascript" src="directives.js"> </script>
	<form name="detailsForm" ng-controller="ReviewForm as reviewfrm" ng-submit="detailsForm.$valid && reviewfrm.addPerson(detail)" novalidate>
<blockquote>
	<b>{{"Name:"+reviewfrm.detail.name}}</b>
	<b>{{"UserID:"+reviewfrm.detail.uid}}</b>
	<b>{{"Address: "+reviewfrm.detail.age}}</b> 
	<b>{{"Email:"+reviewfrm.detail.email}}</b>
	<b>{{"Nationality:"+reviewfrm.detail.nationality}}</b>
</blockquote>
		Name: <input type="text" ng-model="reviewfrm.detail.name" required/><br>
		<div name="userName" ng-controller="UniqueUserName as uname" ng-submit="userName.$valid && uname(detail.uid)" >
		UserID: <input type="text" ng-model="reviewfrm.detail.uid" class="ng-pristine ng-invalid"required/><br>
		</div>
		Password: <input type="password" ng-model="reviewfrm.detail.password" requqired/><br>
		Age: <input type="number" ng-model="reviewfrm.detail.age" min=1 max=120 required/><br>
		Email:<input type="email" ng-model="reviewfrm.detail.email" class="ng-pristine ng-invalid" required/><br>
		Nationality: <input type="text" ng-model="reviewfrm.detail.nationality" required/><br>
		<input type="submit" value="submit"/>
	</form>	
</body>
</html>	