<!DOCTYPE html>
<html ng-app="simpleForms">
<body>
	<script type="text/javascript" src="js/angular.js"> </script>
	<script type="text/javascript" src="js/app.js"> </script>

	<form name="detailsForm" ng-controller="ReviewForm as reviewfrm" novalidate>
		Name:     <input type="text" ng-model="reviewfrm.detail.name" name="name" required/><br>
		Password: <input type="password" ng-model="reviewfrm.detail.password" name="password" requqired/><br>
		<div name="userName" ng-controller="UniqueUserName as uname">
		Email:    <input type="email" ng-model="reviewfrm.detail.email" class="ng-pristine ng-invalid" name="email" ng-change="uname(reviewfrm.detail.email)" required/><br>
		</div>
		Mobile:   <input type="number" ng-model="reviewfrm.detail.mobile" name="mobile" ng-minlength =10 mg-maxlength=10 required/><br>
		Address  <textarea ng-model="reviewfrm.detail.address" name="address" required/></textarea> <br>
		Pincode  <input type="text" ng-model="reviewfrm.detail.pcode" name="pincode" required/><br>
		          <button value="submit"> SUBMIT</button>
	</form>	
</body>
</html>	